<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cli -->
      <package
            uri="http://www.example.org/task-cli/1.0"
            class="cli.cliPackage"
            genModel="model/cli.genmodel"/>
   </extension>

</plugin>
